<mat-card class="container">
    <h2>Account Settings</h2>
    <mat-card-content>
        <button mat-raised-button color="accent" (click)="new()">New Game</button>
    </mat-card-content>
    <mat-card-content>
        <button mat-raised-button color="accent" (click)="openLoadDialog()">Load Game</button>  
    </mat-card-content>
    <mat-card-content>
        <button mat-raised-button color="accent" (click)="save()">Save Game</button>
    </mat-card-content>
    <mat-card-content>
        <mat-slide-toggle color = "primary" (click)="autosaveToggle()"> Autosave for ID: {{acctServ.id}} </mat-slide-toggle>
    </mat-card-content>
</mat-card>
