<mat-card class="container">
    <h2>Account Settings</h2>
    <mat-card-content>
        <button mat-raised-button color="accent" (click)="new()">New</button>
    </mat-card-content>
    <mat-card-content>
        <input type="id" #id>
        <button mat-raised-button color="accent" (click)="load(id.value)">Load</button>
    </mat-card-content>
    <mat-card-content>
        <input type="newID" #newID>
        <button mat-raised-button color="accent" (click)="save(newID.value)">Save</button>
    </mat-card-content>
</mat-card>