<mat-card class="container">
    <h3 id="score-title">Available Points: {{acctServ.score.toLocaleString()}}</h3>
    <h4>Current Worth of Clicks: {{acctServ.multiplier.toLocaleString()}}<br>Current Score per Minute: {{acctServ.perMinute.toLocaleString()}}</h4>
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="store-viewport">
        <h5>Scroll to see more items.</h5>
        <div *cdkVirtualFor="let item of items; let i = index" class="store-item">
            <mat-card class="card">
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.desc}}</mat-card-subtitle>
                <mat-card-content>Price: {{item.price}} points</mat-card-content>
                <button class = "buybutton" mat-raised-button color="accent" (click)="itmServ.purchase(i)" [disabled]="item.price > acctServ.score || item.numPurchased>=item.purchaseLimit" >
                    Buy Item
                </button>
            </mat-card>        
        </div>
    </cdk-virtual-scroll-viewport>
</mat-card>