<h3>How to Play</h3>
<p>Initially, you can begin playing by clicking on the 'Computer' and earn points per click. As you progress, you may
    visit the store and purchase upgrades to increase the rate at which you gain points.</p>
<h3>How to create a new game?</h3>
<p>If you would like to create a new game, simply click 'New Game' on account settings to start a new game.</p>
<h3>How to save the game?</h3>
<p>At every session, you will be given a GameID that will be copied to your clipboard when you click save for you to save somewhere safe and
    conveniently when you want to load the game. You also have the choice to enable autosave which would save your
    current game every 60 seconds to the database.</p>
<h3>How to load the game?</h3>
<p>To load a previous game, click on load game and enter in the saved game ID that was given when saved.</p>
<h3>How to add my high score?</h3>
<p>Simply go to the high score section below this and enter in a Name to upload your current game's score to see how you
    rank.</p>