<h3>How to increase my score?</h3>
<p>You may visit the store and purchase upgrades or recruit more developers to increase the rate at which you gain points.</p>
<p>Additionally, you may click the computer to collect points.</p>
<h3>How to save the game?</h3>
<p>The game will automatically save your progress; however, if you would like to ensure that it is up to date before leaving, you may press the save button.</p>
<p>Conversely, if you want to begin a new game, press the "New" button and accept the prompt.</p>