<div class="container">
    <div id="left-side-menu" class="row" >
        <div id="left-side-buttons" class="col-md">
            <app-settings-menu></app-settings-menu>
        </div>
        <div id = "inventory" class="col-md">
            <app-inventory></app-inventory>
        </div>
    </div>
    <div class="game">
        <img src="/assets/images/idle-coder-title.png" alt="Idle Coder" class="title-image">
        <app-score></app-score>
        <app-click-button></app-click-button> 
    </div>
    <div class="right-side-menu">
        <app-side-menu></app-side-menu>
    </div>
</div>