.container {
    display:flex;
    justify-content: space-between;
}

.right-side-menu{
    flex-grow: 2; 
    max-width: 25%;
}

.left-side-menu {
    flex-grow: 1;
    text-align: left;
}

.left-side-buttons {
    height: 20vh;
}

.game {
    flex-grow: 12;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.title-image{
    margin-top: 20px;
    width: 450px;
    height: auto;
}

#inventory{
    width: 22rem;
}
