<div class="container">
    <div class="left-side-menu">
        <div class="left-side-buttons">
            <app-settings-menu></app-settings-menu>
        </div>

        <div class="left-side-inventory">
            <app-inventory></app-inventory>
        </div>
    </div>
    <div class="game">
        <img src="/assets/images/idle-coder-title.png" alt="Idle Coder" class="title-image">
        <app-score></app-score>
        <app-click-button></app-click-button> 
    </div>
    <div class="right-side-menu">
        <app-side-menu></app-side-menu>
    </div>
</div>