<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Instructions </mat-panel-title>
    </mat-expansion-panel-header>
    <app-instructions></app-instructions>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Store </mat-panel-title>
    </mat-expansion-panel-header>
    <app-store></app-store>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> High Scores </mat-panel-title>
    </mat-expansion-panel-header>
    <app-score></app-score>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Information </mat-panel-title>
    </mat-expansion-panel-header>
    <app-information></app-information>
  </mat-expansion-panel>
</mat-accordion>
