<mat-accordion>
  <!-- Instruction panel -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Instructions </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <app-instructions ></app-instructions>
    </div>
    
  </mat-expansion-panel>

  <!-- Store panel -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Store </mat-panel-title>
    </mat-expansion-panel-header>
    <app-store></app-store>
  </mat-expansion-panel>

  <!-- High Scores panel -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> High Scores </mat-panel-title>
    </mat-expansion-panel-header>
    <app-high-scores></app-high-scores>
  </mat-expansion-panel>

  <!-- Information Panel -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Information </mat-panel-title>
    </mat-expansion-panel-header>
    <app-information></app-information>
  </mat-expansion-panel>
</mat-accordion>
