.card {
    padding: 6px;
}

.container{
    background-color: rgb(152, 208, 212);
    background-blend-mode: lighten;
    color: rgb(17, 68, 74);
    margin: 5px;
    border: 1px;
    border-color: rgb(41, 131, 141);
    border-style: solid;
}

mat-card-title {
    padding: 6px;
    font-weight: bold;
    font-size: x-large;
}

mat-divider {
    background-color: rgb(41, 131, 141);
}

.divider {
    padding-bottom: 10px;
}

  .inventory-item {
    height: 140px;
  }

  .card-container {
    max-height: 360px;
    overflow: auto;
}