<mat-card class="container">
    <div>
      <mat-card-title>Inventory Items</mat-card-title>
    </div>
    <mat-card-subtitle>
            <div style="text-align: center;">
                Upgrades purchased will show here when purchased from the store!
            </div>
    </mat-card-subtitle>
    <div class="divider">
        <mat-divider [inset]="true"></mat-divider>
    </div>
    <mat-card-content>
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="inventory-viewport">
                <div *cdkVirtualFor="let item of items; let i = index;" class="inventory-item">
                <div class="card"> 
                    <app-item></app-item>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </mat-card-content>
</mat-card>