<mat-card class="container">
    <mat-card-title-group>
      <mat-card-title>Inventory Items</mat-card-title>
    </mat-card-title-group>
    <div class="divider">
        <mat-divider [inset]="true"></mat-divider>
    </div>
    <mat-card-content>
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="inventory-viewport">
            <div *cdkVirtualFor="let item of items; let i = index;" class="inventory-item">
                <app-item [index]="i"></app-item>
            </div>
        </cdk-virtual-scroll-viewport>
    </mat-card-content>
</mat-card>