<div class="container">
    <h1 mat-dialog-title>Load Game</h1>
    
    <div mat-dialog-content >
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter GameID</mat-label>
            <textarea matInput ></textarea>
        </mat-form-field>
    </div>
    
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close] color="primary">
            Load Game
        </button>
      <button color="primary" mat-raised-button (click)="onNoClick()">Nevermind</button>
    </div>
    </div>