<h3>Development Team</h3>
<p>Idle Coder was created by North Dakota State University students Victoria Neustel, Landon Raph, Steven Posterick, and Trenton Sanford for their CSCI 313 final project.</p>
<h3>Development Process</h3>
<p>Idle Coder was based off existing idle games like <a href="https://orteil.dashnet.org/cookieclicker/">Cookie Clicker</a>  by Julien Thiennot. In general, idle games revolve around user input adding to the score.</p>
<p>We chose this idea based on each of our interests in video games and decided to make our final project based around the topic instead of choosing a topic we weren't as interested in.</p>
